form input[type='number']::-webkit-outer-spin-button,
form input[type='number']::-webkit-inner-spin-button{
  -webkit-appearance: none;
  margin: 0;
}

.login__info {
  text-align: center;
}

.login__phone {
  text-decoration: underline;
  color: rgb(var(--secondary-rgb));
  font-weight: 600;
  text-align: center;
  display: block;
}

.login__phone-link {
  text-decoration: underline;
  color: rgb(var(--secondary-rgb));
}

.login__phone-separator {
  margin: 2.5rem 0;
  display: block;
}

.login__omniauth-separator {
  margin: 2.5rem 0;
}

.form__wrapper-below {
  margin-bottom: 0;
}
